<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form name="addManager" method="post" action="manager">
    First Name: <input type="text" name="firstName"/> <br/>
    Last Name: <input type="text" name="lastName"/> <br/>
    Tax Number: <input type="text" name="inn"/> <br/>
    Phone Number: <input type="text" name="phone"/> <br/>
    <input type="submit" value="Add" />
    <br>
    <a href="searchManager">Search Manager</a>
</form>
</body>
</html>