<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>ЕГГОГ</title>
</head>
<body>
<p Error />
<table style="border: 1px solid gray; border-collapse: collapse;">

    <tr data-th-each="string : ${strings}">
        <td style="border: 1px solid gray;"><p th:text="${string}"></p></td>
    </tr>


</table>

<br>
<a href="/addNewVendor">Add Vendor</a>
<br>
<a href="/searchVendor">Search Vendor</a>
<br>
<a href="/addNewVendor">Add manager</a>
<br>
<a href="/searchVendor">Search Manager</a>

</body></html>
